* {
    box-sizing: border-box;
    font-family: sans-serif
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-weight: 600;
    color: rgb(60, 59, 59);
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo {
    max-width: 100%;
    width: 100px;
    height: auto;
}

.left-container, .right-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px
}

.left-container .links{
    display: flex;
    gap: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.left-container .links a {
    text-decoration: none;
    color: rgb(60, 59, 59);
    font-weight: 600;
}
.left-container .links a:hover{
    color: #00d084;
    transition: all .17s ease-in-out;
}

.login:hover {
    color: #00d084;
    transition: all .17s ease-in-out;
    cursor: pointer;
}
.get-started-btn {
    border: none;
    background: #00d084;
    padding: 15px 50px;
    border-radius: 50px;
    font-weight: 600;
}

button:hover {
    background: #01bf79;
    transition: .17s ease-in-out;
    cursor: pointer;
}

